<div class="row">
    <div class="col-lg-12" style="margin-top: 20px;">

        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/" class="link-dark text-decoration-none">Cars</a></li>
              <li class="breadcrumb-item"><a href="/" class="link-dark text-decoration-none">List Cars</a></li>
              <li class="breadcrumb-item active" aria-current="page"><%= title %></li>
            </ol>
          </nav>

    </div>
</div>
<div class="row">
    <div class="col-lg-12" style="margin-top: 20px;">
        <p style="font-size: 20px;"><b><%= title %></b></p>
    </div>
</div>

<div class="row">
    <form action="" method="post">
        <div class="row">
            <div class="col-lg-12" style="margin-left: 10px;background-color:white ">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-lg-2" style="margin-top: 10px;">
                        <p>Nama*</p>
                    </div>
                    <div class="col-lg-4">
                        <input id="name" class="form-control" type="text" value="<%= name %>" placeholder="Avanza"
                            aria-label="default input example"/>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-lg-2" style="margin-top: 10px;">
                        <p>Sewa Per Hari*</p>
                    </div>
                    <div class="col-lg-4">
                        <input id="price" class="form-control" type="text" value="<%= price %>"placeholder="Rp 0,-"
                            aria-label="default input example">
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-lg-2" style="margin-top: 10px;">
                        <p>Ukuran*</p>
                    </div>
                    <div class="col-lg-4">
                        <select class="form-select" id="size">
                            <option value="1">Small</option>
                            <option value="2">Medium</option>
                            <option value="3">Large</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-lg-2" style="margin-top: 10px;">
                        <p>Foto*</p>
                    </div>
                    <div class="col-lg-4">
                        <input id="photo" class="form-control" type="file"
                            placeholder="https://placeimg.com/640/480/any" aria-label="default input example">
                    </div>
                </div>

            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
            <div class="col-lg-2">
                <a href="/" class="btn btn-outline-danger">Cancel</a>
                <a href="/" id="submit" type="submit" class="btn"
                    style="background-color:#0D28A6;color: white;">Save</a>
            </div>
        </div>
    </form>
</div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const api = axios.create({
        baseURL: 'http://localhost:8000'
    })

    let id = '<%= id %>';
    let name = document.getElementById("name")
    let price = document.getElementById("price")
    let size = document.getElementById("size")
    let photo = document.getElementById("photo")
    let submit = document.getElementById("submit")


    submit.onclick = function (e) {
        e.preventDefault();
        if (id) {
            updateCar();

        } else {
            createCar()
        }
        window.location.replace("/");
    }

    photo.onchange = function (e){
        uploadFile(e.target.files[0]);
        e.target.value = null
    }

    function createCar() {
        api.post("/api/v1/cars", {
            name: name.value,
            price: price.value,
            size_id: parseInt(size.value),
            photo: uploadedUrl,
        })

    }

    function updateCar() {
        api.put(`/api/v1/cars/:${id}`, {
            name: name.value,
            price: price.value,
            size_id: parseInt(size.value),
            photo: uploadedUrl,
        })
    }

    function uploadFile(fileData) {
        let form = new FormData
        form.append("attachment", fileData)
        api.post("/api/v1/cars-upload", form, {
            "content-type": "multipart/form-data"
        }).then(res => {
            uploadedUrl = res.data.url

        })
    }

</script>
